.texto-menor {
    font-size: 13px;
}

.divs-facilidade {
    width: 325px;
}

.cor-verde {
    color:#daff01
}

.cor-lilas{
    color: #9353ff
}

.posicao {
    top: 40%;
}

@media(max-width: 767px){
    .posicao {
        top:60%;
    }
}